
.readmeBox {
  margin-top: 3%;
  width:100%;
  overflow: hidden;
  display: flex;
  background-color: white;
}
.readmeBox img {
  width:50%;
  height: auto;
}
.noReadMe {
  display: flex;
  justify-content: center;
}
h3 {
  margin-top: 5%;
}
