.form {

  background-color: lightgray;
  border-radius: 20px;
  padding: 15px;

}

.input {
  border-bottom: 1px solid black;
}

.button{

  width: 100%;
  margin-top: 15px;
  margin: auto;
}
.imageBackground {
  background:black;
}
.logo {
  margin-left: 25%;

}
.formFix {
  margin-left: 23%;
  margin-top:5%
}
.backFix {
  height:100vh;
  background: white;
}
