
.container {
  width:100%;
  background-color: lightgray;
    display:flex;
    justify-content: center;
}
.collabContain {
    display:inline-flex;
}
.child {
  margin: 0 1% 0 1%;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: purple;
}
.title {
    margin:0;
    margin-bottom: 2%;
}

